@model MVC.Models.Person
@{
    ViewBag.Title = "UpdateView";
}

<h2>UpdateView</h2>

<dt>
    @Html.DisplayNameFor(model => model.Name) :  @Html.DisplayFor(model => model.Name)
</dt>
<dt>
    @Html.DisplayNameFor(model => model.Address) :  @Html.DisplayFor(model => model.Address)
</dt>
<dt>
    @Html.DisplayNameFor(model => model.Age) :  @Html.DisplayFor(model => model.Age)
</dt>
<dt>
    @Html.DisplayNameFor(model => model.Major) :  @Html.DisplayFor(model => model.Major)
</dt>

